@page
@model CollegeMonitor.Pages.Sessions.IndexModel


<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].DurationInHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Session) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationInHours)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id"> </a>
                <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.Id"><i class="bi bi-ticket-detailed"></i></a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash3-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

